.hello-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;      /* align left, not center */
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.hello-title {
    font-size: 4rem;
    font-weight: bold;
    text-align: left;             /* align text left */
    color: #1d4ed8;
    margin: 0 0 15px 0;
}

.hello-subtitle {
    font-size: 35px;
    font-weight: bold;
    text-align: left;             /* align text left */
    color: #334155;
    margin-top: 1px;
}

.hello-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
    box-sizing: border-box;
}
h2{
    margin-top:20px;
}

.logout-button {
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 6px;
    font-weight: 500;
}
.hello-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* left-align children */
    width: 100%;
    margin-top: 25px;
}

.newTrip-button {
        position: fixed;
        top: 140px;
        right: 55px;

        padding: 0.8rem 1.6rem;
        font-size: 1rem;
        font-weight: 600;

        color: white;
        background: linear-gradient(135deg, #22c55e, #16a34a);

        border: none;
        border-radius: 999px;
        cursor: pointer;

        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
        transition: all 0.25s ease;

        z-index: 9999;
}

.newTrip-button:hover {
    background-color: #16a34a;
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}