.navbar {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding: 14px 60px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

/* Links allgemein */
.navbar a {
    text-decoration: none;
    color: #2c2c2c;
    margin: 0 18px;
    font-weight: 500;
    transition: color 0.2s ease;
}

.navbar a:hover {
    color: #334155;
}

.logo {

    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #1d4ed8 !important; /* blau */
    margin: 0;
}
.logo:hover {
    color: #3b36c0 !important; /* modernes Blau */
}

/* Center Bereich */
.navbar-center {
    display: flex;
    align-items: center;
}

/* User Bereich */
.navbar-right {
    display: flex;
    align-items: center;
}

.user-text {
    margin-right: 15px;
    font-weight: 500;
    color: #444;
}

/* Logout Button */
.logout-btn {
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 6px;
    font-weight: 500;
}

.logout-btn:hover {
    background: #dc2626;
    transform: translateY(-1px);
}

/* Navigation Buttons */
.nav-button {
    padding: 8px 16px;
    background: #2563eb;
    color: white !important;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s ease, transform 0.1s ease;
}

.nav-button:hover {
    background: #1d4ed8;
    transform: translateY(-1px);
}